.platform/*
ansible/*
debian/*

.git/*
.idea/*

/app/bootstrap.php.cache
/app/config/parameters.yml

/bin/*

/var/cache/*
/var/indexes/*
/var/logs/*
/var/sessions/*
/var/uploads/*

/vendor/*

/web/bundles/*
/web/uploads/*