# app
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/maintenance.php

# bin
/bin/*
!/bin/console
!/bin/console.php
!/bin/websiteconsole
!/bin/adminconsole
!/bin/symfony_requirements

# npm
/node_modules

# var
/var/cache/*
/var/indexes/*
/var/logs/*
/var/sessions/*
/var/uploads/*
!/var/cache/.gitkeep
!/var/indexes/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep
!/var/uploads/.gitkeep

# composer
/vendor

# web
/web/css
/web/semantic
/web/img
/web/js
/web/bundles
/web/uploads
/web/bootstrap.php.cache
/web/SymfonyRequirements.php
/web/rev-manifest.json
/web/admin/translations/*
!/web/admin/translations/.gitkeep